networks:
  net:

volumes:
  prometheus_data:

services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - net
  nginx:
    image: nginx
    ports:
      - 12345:3100
    depends_on:
      - prometheus
    networks:
      - net
    entrypoint:
      - sh
      - -euc
      - |
        cat <<EOF > /etc/nginx/nginx.conf
        user  nginx;
        worker_processes  5;  ## Default: 1

        events {
          worker_connections   1000;
        }

        http {
          resolver 127.0.0.11;

          server {
            listen             3100;
            location / {
              proxy_pass http://prometheus:9090/;
            }
          }
        }
        EOF
        /docker-entrypoint.sh nginx -g "daemon off;"
